<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/" />
    <title>chain.zz50.co.uk</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<body>
    <div id="app" class="container-fluid">
    </div>
</body>
</html>