div#left_navigation {
    width:340px;
}
table.chains tr.table_nav {
    background-color:#000000;
    color:#FFF;
}
div.table_title {
    width:50%;
    font-weight: bold;
}
td.left-nav-action-links {
    width:15%;
}
a#left-nav-add-chain-link {
    color:white;
    font-size:0.85em;
    vertical-align: middle;
}
a#left-nav-add-chain-link:hover {
    cursor:pointer;
}
a#left-nav-add-chain-link > i {
    padding-top:3px;
}
tr.left-nav-table-title > td {
    font-weight: bold;
}
td.left-nav-chain-streak {
    text-align:right;
}
.left-nav-action-icon {
    margin-left:2px;
}
.left-nav-action-icon:hover {
    cursor:pointer;
}












