div#left_navigation {
    width:340px;
}
table.chains tr.table_nav {
    background-color:#000000;
    color:#FFF;
}
div.table_title {
    width:50%;
    font-weight: bold;
}
oi {
    padding-top:10px;
}











